<div class="h-full flex justify-center items-center py-0">
 
  <div *ngIf="alertService.alert$ | async as alert" class="fixed top-5 right-5 z-50">
    <div class="max-w-xs w-full p-4 rounded-lg shadow-lg" [ngClass]="alert.type === 'success' ? 'bg-green-500' : 'bg-red-500'">
      <div class="text-white font-semibold">
        <p>{{ alert.message }}</p>
      </div>
    </div>
  </div>
  
  <div class="border-b-2 block md:flex w-full max-w-5x0 bg-white shadow-lg rounded-lg overflow-hidden">

    <!-- Sección Izquierda: Imagen, Nombre y Rol -->
    <div *ngIf="user" class="w-full md:w-2/5 p-6 lg:p-8 bg-gray-100 flex flex-col items-center">
      <!-- Ícono de Perfil en lugar de imagen -->
      <div class="w-32 h-32 flex justify-center items-center rounded-full border shadow-md bg-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd"
            d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
            clip-rule="evenodd" />
        </svg>
      </div>

      <!-- Nombre del Usuario -->
      <h2 class="text-xl font-semibold mt-4">{{ user?.name }}</h2>
      <p class="text-gray-600 text-sm bg-gray-200 px-3 py-1 rounded mt-2">{{ user?.role }}</p>
    </div>

    <!-- Sección Derecha: Formulario de Edición -->
    <div class="w-full md:w-3/5 p-8 bg-white">
      <div class="rounded shadow p-6">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <!-- Correo Electrónico -->
          <div class="pb-4">
            <label class="font-semibold text-gray-700 block pb-1">Correo Electrónico</label>
            <input formControlName="email" class="border rounded px-4 py-2 w-full bg-gray-100" type="email" />
          </div>

          <!-- Botón para guardar cambios -->
          <div class="mt-4 flex justify-end">
            <button type="submit" class="bg-gray-700 text-white font-bold px-5 py-2 rounded hover:bg-gray-800 transition" [disabled]="profileForm.invalid || loading">
              Guardar Cambios
            </button>
          </div>
        </form>

        <!-- Formulario para cambiar la contraseña -->
        <div class="border-t mt-6 pt-6">
          <h3 class="text-lg font-semibold text-gray-700">Cambiar Contraseña</h3>
          <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
            <!-- Contraseña Actual -->
            <div class="pb-4">
              <label class="font-semibold text-gray-700 block pb-1">Contraseña Actual</label>
              <input formControlName="current_password" class="border rounded px-4 py-2 w-full" type="password" />
            </div>

            <!-- Nueva Contraseña -->
            <div class="pb-4">
              <label class="font-semibold text-gray-700 block pb-1">Nueva Contraseña</label>
              <input formControlName="new_password" class="border rounded px-4 py-2 w-full" type="password" />
              <div *ngIf="passwordForm.get('new_password')?.invalid && passwordForm.get('new_password')?.touched" class="text-red-500 text-sm mt-1">
                La nueva contraseña debe tener al menos 8 caracteres.
              </div>
            </div>

            <!-- Campo de confirmación de la contraseña -->
            <div class="pb-4">
              <label class="font-semibold text-gray-700 block pb-1">Confirmar Nueva Contraseña</label>
              <input formControlName="new_password_confirmation" class="border rounded px-4 py-2 w-full" type="password" />

              <!-- Mensaje de error o éxito -->
              <p *ngIf="passwordForm.get('new_password_confirmation')?.touched">
                <span *ngIf="!passwordsMatch" class="text-red-500 text-sm">Las contraseñas no coinciden</span>
                <span *ngIf="passwordsMatch" class="text-green-500 text-sm">Las contraseñas coinciden</span>
              </p>
            </div>

            <!-- Botón para cambiar la contraseña -->
            <div class="mt-4 flex justify-end">
              <button type="submit" class="bg-gray-700 text-white font-bold px-5 py-2 rounded hover:bg-red-700 transition" [disabled]="passwordForm.invalid || loading">
                Cambiar Contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>