<div class="p-4">
    <div class="py-6 pt-4">
        <div class="flex items-center justify-between mb-6 border-b pb-4">
          <h2 class="text-2xl font-semibold text-gray-800 mt-0">Administración de Estados</h2>
        </div>
  
    <div class="mb-4">
      <button (click)="abrirFormularioCreacion()" class="px-4 py-2 bg-blue-600 text-white rounded-md">
        Crear Estado
      </button>
    </div>
  
    <div class="overflow-hidden shadow-sm border border-gray-200 rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider text-center">Nombre</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider text-center">Indicador</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider text-center">Creado</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider text-center">Eliminado</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider text-center">Acciones</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let estado of estados" class="hover:bg-gray-50">
            <td class="px-6 py-4 text-sm text-gray-900 text-center">{{ estado.nombre }}</td>
            <td class="px-6 py-4 text-sm text-center align-middle">
                <span
                  [ngClass]="{
                    'bg-green-100 text-green-800': estado.indicador == 1,
                    'bg-red-100 text-red-800': estado.indicador == 0
                  }"
                  class="inline-block w-16 text-center py-1 rounded-full font-medium">
                  {{ estado.indicador == 1 ? 'Sí' : 'No' }}
                </span>
              </td>
            <td class="px-6 py-4 text-sm text-gray-500 text-center">{{ estado.created_at | date:'short' }}</td>
            <td class="px-6 py-4 text-sm text-gray-500 text-center">{{ estado.deleted_at | date:'short' }}</td>
            <td class="px-6 py-4 text-sm font-medium flex justify-center space-x-4">
              <button (click)="abrirFormularioEdicion(estado)" class="text-indigo-600 hover:text-indigo-900">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
              </button>
              <button (click)="eliminarEstado(estado.id)" class="text-red-600 hover:text-red-900">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Modal -->
    <div *ngIf="mostrarModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
      <div class="bg-white p-8 rounded-lg shadow-lg w-96 relative">
        <!-- Cierre -->
        <button (click)="cancelarFormulario()" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 text-xl">
          &times;
        </button>
  
        <h2 class="text-2xl font-bold mb-4">{{ estadoEdicion.id ? 'Editar Estado' : 'Crear Estado' }}</h2>
        <form (ngSubmit)="guardarEstado()">
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Nombre</label>
            <input [(ngModel)]="estadoEdicion.nombre" name="nombre"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm" required />
          </div>
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Indicador</label>
            <select [(ngModel)]="estadoEdicion.indicador" name="indicador"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm" required>
              <option value="SI">SI</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div class="flex justify-end space-x-4">
            <button type="button" (click)="cancelarFormulario()" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg">
              Cancelar
            </button>
            <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-lg">
              {{ estadoEdicion.id ? 'Actualizar' : 'Guardar' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  