<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <app-alert></app-alert>

  <div class="py-6 pt-4">
    <div class="flex items-center justify-between mb-6 border-b pb-4">
      <h2 class="text-2xl font-semibold text-gray-800 mt-0">Administración de Roles y Permisos</h2>
    </div>

    <div class="flex items-center justify-between mb-4">
      <button (click)="abrirModal()" class="px-4 py-2 bg-blue-600 text-white rounded-md">
        Crear Rol
      </button>
    </div>

    <div class="overflow-hidden shadow-sm border border-gray-200 rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre del Rol
            </th>
            <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Permisos</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let rol of roles" class="hover:bg-gray-50">
            <td class="px-6 py-4 text-sm font-medium text-gray-900">{{ rol.name }}</td>
            <td class="px-6 py-4 text-sm text-gray-500">
              <div class="flex flex-wrap space-x-2">
                <span *ngFor="let permiso of rol.permisos; let i = index" class="text-sm">
                  {{ permiso.name }}
                  <!-- Solo agregar el guion si no es el último permiso -->
                  <span *ngIf="i < rol.permisos.length - 1" class="mx-2">-</span>
                </span>
              </div>
            </td>
            <td class="px-6 py-4 text-sm font-medium flex space-x-4">
              <button (click)="abrirModal(rol)" class="text-indigo-600 hover:text-indigo-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
              </button>
              <button (click)="deleteRole(rol.id)" class="text-red-600 hover:text-red-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal para Crear/Editar Rol -->
<div *ngIf="modalAbierto" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h3 class="text-lg font-semibold mb-4">{{ esEdicion ? 'Editar Rol' : 'Crear Rol' }}</h3>

    <form (ngSubmit)="crearOeditarRol()">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Nombre del Rol</label>
        <input [(ngModel)]="nuevoRol.name" name="name" class="w-full p-2 border rounded-md" required>
      </div>

      <div *ngFor="let permiso of permisosDisponibles; let i = index" class="flex items-center">
        <input 
          type="checkbox" 
          [(ngModel)]="permiso.selected" 
          [name]="'permissions-' + permiso.id"  
          class="h-4 w-4 text-blue-600"
        >
        <label class="ml-2 text-sm text-gray-600">{{ permiso.name }}</label>
      </div>


      <div class="flex justify-end space-x-2">
        <button type="button" (click)="cerrarModal()" class="px-4 py-2 bg-gray-300 rounded-md">Cancelar</button>
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md">{{ esEdicion ? 'Actualizar' :
          'Guardar' }}</button>
      </div>
    </form>
  </div>
</div>